html, body {
  width: 100%;
  height: 100%;
  margin : 0px;
  padding: 0px;
}

header{
  width: 100%;
  height: auto;
  background-color: #00C781;
  padding: 10px;
  position: relative;
  margin: 0;
}

header > .logo img{
width: auto;
height: 20px;
margin-left: 40px;
}

.menu{
  height: auto;
  width: auto;
  margin: 0;
  padding:0;
  margin-top: -20px;
}

footer {
  bottom: 0px;
  background-color: #00C781;
  width: 100%;
}

.wizardactivetab
{
  background-color: #00C781;
}
.nav-tabs li
{
  padding: 2% 2%;
  width: 25%;
  text-align: center;
}

.nav-tabsfew li
{
  padding: 2% 2%;
  width: 33%;
  text-align: center;
}

.row {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

.varsko-information{
  width:100%;
  margin: 0px;
  padding: 40px 80px;
  background:url('../img/info_back.jpg')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  min-height: 720px;
}

.varsko-information p{
  font-size: 2.5em;
  font-weight: 200;
  margin-top: 50px;
}

.varsko-information_2{
  width:100%;
  margin: 0px;
  padding: 40px 80px;
  background:url('../img/bakgrund3.png')no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  min-height: 720px;
}

.varsko-information_2 p{
  font-size: 2.5em;
  font-weight: 200;
  margin-top: 50px;
}

.gron{
  color: #00C781;
}

.white{
  color: #fff;
}

.grey_block {
  color: #fff;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #545454;
  border-radius: 5px;
  border:#48ac73 5px solid;
}

.block {
  color: #48ac73;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  border:#48ac73 5px solid;
}


.activeEvent {
  border: 1px solid #545454;
}

.activeEventHeader {
  background-color: #545454;
  color: white;
  margin-top: 0px;
  padding-top: 10px;
  margin-bottom: 0px;
  height: 6%;
}


#eventsNow {
  height: 75%;
  overflow-y: scroll;
  overflow-x:hidden;
  border: 2px solid #545454;
  background-color: #ddd;

}

#eventsNow > li {
  width: 90%;
  list-style-type: none;
  text-align: left;
}

.eventPlace {
  display: inline-block;
  padding-left: 10px;
}

.eventDate {

}

.eventIcon {
  width: 32px;
  height: 32px;
}


input[type=radio] {
  display: none;
}

input[type=radio]:checked + label.radio-inline {
  opacity: 1;
  -webkit-transform: scale(1.1,1.1);
}

label.radio-inline {
  opacity: .5;
}

input[type=checkbox] {
  display: none;
}
label.checkbox-label {
  opacity: 0.5;
  padding-left: 5px;
  padding-right: 5px;
  display: block;
}

input[type=checkbox]:checked + label.checkbox-label {
  opacity: 1;
  -webkit-transform: scale(1.1,1.1);
}
