html, body {
  width: 100%;
  height: 100%;
  margin : 0px;
  padding: 0px;
}

header{
  height: auto;
  float: none;
  background-color: #48ac73;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
  margin: 0;
}

header > .logo img{
width: auto;
height: 20px;
margin-left: 40px;
}


header > .menu{
    height: auto;
    position: relative;
    margin-top: 0px;
    margin-right: 10px;
}




footer {
  bottom: 0px;
  background-color: #48ac73;
  width: 100%;
}

.wizardactivetab
{
  background-color: black;
}

.row {
  margin-top: 40px;
  margin-bottom: 40px; 
}

.varsko-information{
  padding: 40px 80px;
  background:url('../img/info_back.jpg')no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#fff;
  min-height: 720px;
}

.varsko-information p{
  font-size: 3em;
  font-weight: 200;
}

.gron{
  color: #48ac73;
}

.white{
  color: #fff;
}

.grey_block {
  color: #fff;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #545454;
  border-radius: 5px;
  border:#48ac73 5px solid;
}

.block {
  color: #48ac73;
  padding: 10px;
  padding-bottom: 30px;
  background-color: #fff;
  border-radius: 5px;
  border:#48ac73 5px solid;
}
