html, body {
  margin : 0;
  height: 100%;
}
a {
  color: black;
}

header{
  height: auto;
  float: none;
  background-color: gray;
  padding: 10px;
  position: relative;
  margin-bottom: 20px;
}

header > .logo{

}


header > .menu{
    margin-top: 0px;
    margin-right: 10px;
}




footer {
  position: absolute;
  bottom: 0px;
  background-color: gray;
  width: 100%;
}

.wizardactivetab
{
  background-color: gray;
}